body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "VT323", monospace;
    background-color: rgb(25, 32, 25);
    color: rgb(241, 255, 235);
}

.grid {
    width: 300px;
    height: 300px;
    border: solid 15px rgb(0, 66, 0);
    border-radius: 20px;
    box-shadow: inset 0 0 0 10px rgb(1, 97, 1);
    background-color: rgb(206, 255, 206);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.grid div {
    width: 20px;
    height: 20px;
    /* border: solid 1px red;
    box-sizing: border-box; */
}

.invader {
    background-color: rgb(0, 99, 53);
    border-radius: 8px;
}

.shooter {
    background-color: rgb(17, 65, 17);
    border-radius: 5px;
}

.laser {
    background-color: rgb(97, 197, 159);
}

.boom {
    background-color: red;
}